h2 {
  color: white;
}
p {
  color: white;
  font-size: 20px;
}
.footer{
  height: 400px;
}
.footer1{
  border-top: 0.5px solid snow;
  height: 80px;
}
.column{
  margin-top: 30px;
}
.row {
  background-color: #0C6154;
}
