<div class="container-fluid">
<div class="row footer">
  <div class="col-lg-1">
  </div>
  <div class="col-lg-2 column">
    <h2>Danh mục</h2>
    <p>Trang chủ</p>
    <p>Giới thiệu</p>
    <p>Tag sản phẩm</p>
    <p>Tin tức</p>
  </div>
  <div class="col-lg-2 column">
    <h2>Liên hệ</h2>
    <p>Facebook</p>
    <p>Instagram</p>
    <p>Zalo</p>
  </div>
  <div class="col-lg-3 column">
    <h2>Thanh toán miễn phí</h2>
    <img src="/assets/logo 7.png" width="300px" height="auto">
  </div>
  <div class="col-lg-3 column">
    <h2>Hình thức vận chuyển</h2>
    <img src="/assets/logo 8.png" width="300px" height="auto"><br>
    <a href="http://online.gov.vn/Home/WebDetails/28738?AspxAutoDetectCookieSupport=1">
      <img src="/assets/logo 9.png" width="300px" height="auto">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
</div>
<div class="row footer1">
  <div class="col-lg-12">
    <p style="text-align: center; margin-top: 25px; font-size: 20px">
      Công ty cổ phần Hwatch, 280 Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng
    </p>
  </div>
</div>
</div>


