<div class="container-fluid">
<div class="row logo">
  <div class="col-lg-1">
  </div>
  <div style="margin-top: 15px" class="col-lg-2">
    <img src="/assets/logo chính.png" width="200" height="auto">
  </div>
  <div class="col-lg-7">
    <form style="margin-top: 33px" class="navbar-form navbar-left" role="search">
      <div class="form-group " style="float: left;width: 400px;border-radius: 50px">
        <input style="border-radius: 10px" type="text" class="form-control shadow" placeholder="Hôm nay bạn muốn tìm gì ở Hwatch?">
      </div>
      <button type="submit" class="btn btn-default mx-1 shadow" style="background: rgb(58,36,83);color:white;border-radius: 10px">Tìm</button>
    </form>
  </div>
  <div class="col-lg-1">
    <button id="login" onclick="document.getElementById('id01').style.display='block'" style="width:auto">Đăng nhập</button>
  </div>
  <div class="col-lg-1">
    <button id="logout">Đăng xuất</button>
  </div>
</div>

<div style="background-color: #0C6154; height: 60px" class="row navbar">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-lg nav-header">
      <div style="margin: auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="fa-solid fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav-scroll" style="text-align: center">
            <li class="nav-item mx-5">
              <a style="color: white" class="nav-link" routerLink="/ticket/booking-ticket">
                <i class="fa-solid fa-house-user"></i> Trang chủ</a>
            </li>
            <li class="nav-item dropdown mx-5">
              <a style="color: white" class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <i class="fa-brands fa-product-hunt"></i> Sản phẩm
              </a>
              <ul class="dropdown-menu dropdown-menu-danger">
                <li><a class="dropdown-item" routerLink="/moviePlay">Cầu lông</a></li>
                <li><a class="dropdown-item" routerLink="/moviePremiere">Giày cầu lông</a></li>
                <li><a class="dropdown-item" routerLink="/moviePremiere">Vật dụng khác</a></li>
              </ul>
            </li>
            <li class="nav-item mx-5">
              <a style="color: white" class="nav-link colorA" routerLink="/employee/list"><i class="fa-solid fa-list-check"></i> Giới thiệu</a>
            </li>
            <li class="nav-item mx-5">
              <a style="color: white" class="nav-link colorA" routerLink="/customer/list"><i
                class="fa fa-user-secret"></i> Liên hệ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
</div>
