<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h2>Danh mục</h2>
        <div class="use-links">
          <li><a href="index.html"> Trang chủ</a></li>
          <li><a href="about.html"> Giới thiệu</a></li>
          <li><a href="gallery.html"> Tag sản phẩm</a></li>
          <li><a href="contact.html"> Tin tức</a></li>
        </div>
      </div>
      <div class="col-lg-3">
        <h2>Liên hệ</h2>
        <div class="social-icons">
          <li><a href="">Facebook</a></li>
          <li><a href=""> Instagram</a></li>
          <li><a href=""> Zalo</a></li>
        </div>
      </div>
      <div class="col-lg-3">
        <h2>Thanh toán miễn phí</h2>
        <div class="use-links">
<!--          <img src="/assets/logo 7.png" height="250px" width="auto">-->
        </div>
      </div>
      <div class="col-lg-3">
        <h2>Hình thức vận chuyển</h2>
        <div class="use-links">
          <li><a href="index.html"> Hình thức vận chuyển</a></li>
          <li><a href="about.html"> Giới thiệu</a></li>
          <li><a href="gallery.html"> Tag sản phẩm</a></li>
          <li><a href="contact.html"> Tin tức</a></li>
        </div>
      </div>
    </div>
  </div>
</footer>

<section id="copy-right">
  <div class="copy-right-sec"><i class="<fa-regular fa-circle-exclamation"></i>
    Công ty cổ phần Hwatch, 280 Trần Hưng Đạo, An Hải Tây, Sơn Trà, Đà Nẵng
  </div>
</section>

 footer section start


